
.containerStar{
	background: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	width: 255px;

}
.star{
	color: #ccc;
	cursor: pointer;
	transition: all 0.2s linear;
}
.star-checked{
	color: gold;
}
#result{
	display: none;
}
b.r{
	color: red;
}
b.g{
	color: #0dc510;
}